body{
    background-color: beige;
}

h1{
    text-align: center;
    color: antiquewhite;
    background-color: blue;
}

.row {
    text-align: center;
}

.Instructions {
    background-color: navy;
    color: aliceblue
}

#number{
    color: brown;
    font-size: 35px;
    background-color: yellow;
}

.Tracking{
    background-color: darkseagreen;
    color: aliceblue;
}

#Pic1{
    height: 20%;
    width: 10%;
}

#Pic2{
    height: 20%;
    width: 10%;
}

#Pic3{
    height: 20%;
    width: 10%;
}

#Pic4{
    height: 20%;
    width:6.2%;
}

.value {
    background-color: cornflowerblue;
    color: aliceblue;
}

#Score {
    background-color: teal;
    color: aliceblue;
    font-size: 25px;
}
